<tr dom_id="question_<%= index %> ">
  <th><%= index %></th>
  <td><%= question.content %></td>
  <td><%= question.choice1 %></td>
  <td><%= question.choice2 %></td>
  <td><%= question.choice3 %></td>
  <td><%= question.choice4 %></td>
  <td><%= question.correct_option %></td>
</tr>
