<%= turbo_frame_tag "login" do %>
  <h1 class="font-extrabold text-indigo-500 text-6xl mb-10 text-center">
    Login 
  </h1>
  <%= form_with(url: sessions_path,data: {turbo: false}) do |f| %>
    <div class="mb-2">
      <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
      <%= f.text_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",required: true %>
    </div>
    <div class="mb-2">
      <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
      <%= f.password_field :password, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",required: true %>
    </div>
    <div class="mb-2">
      <%= f.submit "Login" ,class: "zmt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md cursor-pointer bg-indigo-500 py-2 font-bold text-white hover:bg-indigo-700" %>
    </div>
  <% end %>
  <% if current_user && current_user.admin? %>
    <%= link_to "Create new account", new_user_path,class: "text-indigo-500 hover:text-indigo-700 text-end" %>
  <% end %>
<% end %>
