<%= turbo_frame_tag "login",data: {controller: "loader"} do %>
  <div class="flex justify-between items-center flex-col lg:flex-row">
    <div class="w-4/5 lg:w-1/2">
      <%= image_tag "login.png", class: "w-4/5 rounded-full mx-auto"  %>
    </div>
    <div class="w-4/5 lg:w-1/2 bg-slate-100 rounded-md p-10">
      <h1 class="font-extrabold text-indigo-500 lg:text-6xl text-5xl mb-10 text-center dark:text-white">
        Login 
      </h1>
      <%= form_with(url: sessions_path,data: {turbo: false}) do |f| %>
        <div class="mb-2">
          <label for="email" class="block text-sm font-bold text-gray-950 dark:text-white">Email</label>
          <%= f.text_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm  border-gray-300 rounded-md",required: true %>
        </div>
        <div class="mb-2">
          <label for="password" class="block text-sm font-bold text-gray-950 dark:text-white">Password</label>
          <%= f.password_field :password, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm  border-gray-300 rounded-md",required: true %>
        </div>
        <div class="mb-2">
          <%= f.submit "Login" ,class: "zmt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm  border-gray-300 rounded-md cursor-pointer bg-indigo-500 py-2 font-bold text-white hover:bg-indigo-700" %>
        </div>
      <% end %>
      <div class="flex justify-center items-center pt-5 text-slate-950 dark:text-white lg:flex-row flex-col">
        Don't have an account yet? &nbsp;
        <%= link_to "Create new account", new_user_path,class: "text-indigo-500 hover:text-indigo-700 text-center dark:text-white hover:underline" %>
      </div>
    </div>
  </div>
<% end %>
