<div class="mt-10 flex justify-center items-center flex-col w-[90%] mx-auto">
  <h1 class="text-4xl font-bold text-indigo-700">Edit Profile</h1>
  <%= form_with model: @user,data: {turbo: false},class: "w-full" do |f| %>
    <div class="mb-2">
      <label for="username" class="block text-sm font-bold text-gray-950 dark:text-white">Username</label>
      <%= f.text_field :username, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",required: true %>
    </div>
    <div class="mb-2">
      <label for="email" class="block text-sm font-bold text-gray-950 dark:text-white">Email</label>
      <%= f.email_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",required: true %>
    </div>
    <div class="mb-2">
      <label for="password" class="block text-sm font-bold text-gray-950 dark:text-white">Password</label>
      <%= f.password_field :password, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",required: true %>
    </div>
    <div class="mb-2">
      <label for="password_confirmation" class="block text-sm font-bold text-gray-950 dark:text-white">Password Confirmation</label>
      <%= f.password_field :password_confirmation, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md",required: true %>
    </div>
    <div class="mb-2">
      <%= f.submit "Update", class: "zmt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md cursor-pointer bg-indigo-500 py-2 font-bold text-white hover:bg-indigo-700" %>
    </div>
  <% end %>
</div>
