<div class="container flex flex-col flex-wrap md:flex-row md:flex-nowrap   justify-center gap-x-32 items-center mx-auto min-h-screen">
  <div class="p-4 lg:mb-28 lg:w-[45vw] w-full mt-10 ">
    <h1 class="lg:text-7xl text-6xl font-bold bg-gradient-to-b from-custom-primary to-custom-secondary bg-clip-text drop-shadow-2xl  text-transparent flex flex-wrap lg:flex-nowrap">Excellence Starts Here
    </h1>
    <p class="text-xl mt-10 w-[80vw] lg:w-[32vw]">
      Elevate your child's potential at <b> Ikramforcesacademy</b>
      . We provide exceptional education, fostering leadership, and confidence. Join us for a brighter future.
    </p>
    <a href="#about" class="relative inline-block px-4 py-2 font-medium group mt-10 ">
      <span class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-custom-primary group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
      <span class="absolute inset-0 w-full h-full bg-white border-2 border-custom-primary group-hover:bg-custom-primary"></span>
      <span class="relative text-black group-hover:text-white">Learn About Us</span>
    </a>
  </div>
  <div class="lg:w-[50vw] w-full">
    <%= image_tag "kid-pointing-left.png",class: "w-full h-full object-cover mt-12 " %>
  </div>
</div>
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150 mt-[-120px]"><style>
    .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-0{
    0%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 117.4736842105263,394.25837320574163 234.9473684210526,438.51674641148327 335,463 C 435.0526315789474,487.48325358851673 517.6842105263158,492.1913875598086 596,470 C 674.3157894736842,447.8086124401914 748.3157894736843,398.7177033492823 832,379 C 915.6842105263157,359.2822966507177 1009.0526315789473,368.9377990430622 1112,369 C 1214.9473684210527,369.0622009569378 1327.4736842105262,359.5311004784689 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    25%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 88.05741626794256,401.82775119617224 176.1148325358851,453.65550239234454 264,427 C 351.8851674641149,400.34449760765546 439.598086124402,295.2057416267943 552,273 C 664.401913875598,250.79425837320574 801.4928229665072,311.52153110047846 902,354 C 1002.5071770334928,396.47846889952154 1066.4306220095693,420.7081339712919 1150,417 C 1233.5693779904307,413.2918660287081 1336.7846889952152,381.64593301435406 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    50%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 86.61244019138758,378.76555023923447 173.22488038277515,407.5311004784689 283,394 C 392.77511961722485,380.4688995215311 525.7129186602871,324.64114832535887 615,298 C 704.2870813397129,271.35885167464113 749.9234449760767,273.9043062200957 836,270 C 922.0765550239233,266.0956937799043 1048.5933014354068,255.74162679425837 1156,268 C 1263.4066985645932,280.25837320574163 1351.7033492822966,315.12918660287085 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    75%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 108.57416267942583,346.2488038277512 217.14832535885165,342.49760765550235 311,336 C 404.85167464114835,329.50239234449765 483.98086124401925,320.25837320574163 572,330 C 660.0191387559807,339.74162679425837 756.9282296650719,368.46889952153117 850,400 C 943.0717703349281,431.53110047846883 1032.3062200956938,465.8660287081339 1130,458 C 1227.6937799043062,450.1339712918661 1333.846889952153,400.0669856459331 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    100%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 117.4736842105263,394.25837320574163 234.9473684210526,438.51674641148327 335,463 C 435.0526315789474,487.48325358851673 517.6842105263158,492.1913875598086 596,470 C 674.3157894736842,447.8086124401914 748.3157894736843,398.7177033492823 832,379 C 915.6842105263157,359.2822966507177 1009.0526315789473,368.9377990430622 1112,369 C 1214.9473684210527,369.0622009569378 1327.4736842105262,359.5311004784689 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    }
  </style><defs><linearGradient id="gradient" x1="50%" y1="0%" x2="50%" y2="100%"><stop offset="5%" stop-color="#4338ca"></stop><stop offset="95%" stop-color="#ffffff"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,350 0,350 C 117.4736842105263,394.25837320574163 234.9473684210526,438.51674641148327 335,463 C 435.0526315789474,487.48325358851673 517.6842105263158,492.1913875598086 596,470 C 674.3157894736842,447.8086124401914 748.3157894736843,398.7177033492823 832,379 C 915.6842105263157,359.2822966507177 1009.0526315789473,368.9377990430622 1112,369 C 1214.9473684210527,369.0622009569378 1327.4736842105262,359.5311004784689 1440,350 C 1440,350 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 350)"></path></svg>
<section id="about" class="relative group lg:mt-[-110px] min-h-screen">
  <div class="flex justify-between items-center lg:flex-row flex-col w-[95vw] flex-wrap lg:flex-nowrap">
    <div class="lg:w-[50vw] w-full">
      <%= image_tag "aboutus.png", class: "w-full h-full object-contain" %>
    </div>
    <div class="lg:w-[50vw] w-full h-full mt-10 lg:mt-0">
      <h1 class="lg:text-6xl font-bold text-custom-primary text-end text-5xl">
        Our Inspiring Journey
      </h1>
      <p class="lg:text-xl mt-10 w-[90%] text-end mx-auto font-medium text-medium">
        Welcome to Ikram Forces Academy, where excellence is our tradition. With over a decade of dedicated service in cadet coaching, we have proudly achieved an astounding 80% success rate. Our commitment extends beyond knowledge — we are passionate about fostering leadership and unwavering self-assurance in our students. Join us today and embark on a transformative journey toward a brighter, more promising future.
      </p>
    </div>
  </div>
</section>
<section id="achievments" class="min-h-screen mt-20 overflow-hidden">
  <div class="flex justify-start space-x-5 lg:flex-row bg-gradient-to-bl from-indigo-200 to-indigo-700 rounded-custom-radius relative flex-col-reverse lg:flex-nowrap">
    <div class="flex flex-col ">
      <h1 class="lg:text-6xl font-bold lg:text-start lg:ml-10 lg:mt-56 text-3xl text-center">
        Our Achievements
      </h1>
      <div class="flex flex-col lg:justify-end lg:items-end justify-center items-center absolute lg:top-96 lg:left-96 top-80 left-28">
        <div class="lg:bg-white bg-custom-primary rounded-lg p-5 mt-20 relative lg:w-[480px] w-[200px]">
          <%= image_tag "siren3d.png", class: "lg:w-[80px] lg:h-[80px] w-[40px] h-[40px] absolute top-[-32px] left-[-32px] opacity-90" %>
          <h1 class="lg:text-3xl text-end text-lg">High Success Rate</h1>
        </div>
        <div class="lg:bg-white rounded-lg p-5 mt-20 relative lg:w-[480px] w-[200px] bg-custom-primary">
          <%= image_tag "3d-book.png", class: "lg:w-[120px] lg:h-[120px] w-[60px] h-[60px] absolute top-[-38px] left-[-38px] opacity-90" %>
          <h1 class="lg:text-3xl text-lg text-end">Placement Opportunities</h1>
        </div>
        <div class="lg:bg-white rounded-lg p-5 mt-20 relative lg:w-[480px] bg-custom-primary w-[200px]">
          <%= image_tag "3d-light-bulb.png", class: "lg:w-[120px] lg:h-[120px] transform rotate-[30deg] absolute top-[-38px] left-[-38px] opacity-90 w-[60px] h-[60px]" %>
          <h1 class="lg:text-3xl text-end text-lg">Top-Notch Education System</h1>
        </div>
      </div>
    </div>
    <%= image_tag "achivement.png", class: "lg:w-full lg:h-full" %>
  </div>
</section>
<section id="services" class="min-h-screen lg:mt-52 mt-24 ">
  <div class="flex flex-col-reverse lg:flex-row justify-center gap-x-56 items-start ">
    <div class="lg:w-[50vw] mt-20 lg:mt-0 w-full">
      <%= image_tag "success.png", class: " w-full h-full object-contain" %>
    </div>
    <div class="flex flex-col lg:w-[50vw] w-full">
      <h1 class="lg:text-6xl font-bold text-custom-primary text-4xl text-center lg:text-start">
        OUR COMPREHENSIVE SERVICES 
      </h1>
      <p class="text-lg mt-5 font-medium text-center lg:text-start">
        Empowering Cadet's Success 
      </p>
      <div class="mt-3 flex flex-col gap-y-4 justify-center items-center mx-auto lg:mx-0 lg:justify-start lg:items-start">
        <div class="flex flex-row gap-x-10">
          <div class="lg:w-28 lg:h-28 w-20 h-20 bg-primary1 rounded-full flex flex-col justify-center items-center text-white space-y-1">
            <i class="material-icons">settings</i>
            <div class="lg:text-sm font-bold italic text-center text-xs">
              <span>Class</span>
              <br>
              <span>Syllabus</span>
            </div>
          </div>
          <div class="lg:w-28 lg:h-28 w-20 h-20 bg-custom-primary rounded-full flex flex-col justify-center items-center text-white space-y-1">
            <i class="material-icons">smartphone</i>
            <div class="lg:text-sm font-bold italic text-center text-xs">
              <span>Online Test</span>
              <br>
              <span>System</span>
            </div>
          </div>
          <div class="lg:w-28 lg:h-28 h-20 w-20 bg-primary1 rounded-full flex flex-col justify-center items-center text-white space-y-1">
            <i class="material-icons">lightbulb</i>
            <div class="lg:text-sm font-bold italic text-center text-[10px]">
              <span>Daily</span>
              <br>
              <span>Assignments</span>
            </div>
          </div>
        </div>
        <div class="flex flex-row gap-x-10 ">
          <div class="lg:w-28 lg:h-28 w-20 h-20 bg-primary1 rounded-full flex flex-col justify-center items-center text-white space-y-1">
            <i class="material-icons">policy</i>
            <div class="lg:text-sm font-bold italic text-center text-xs">
              <span>Rules &</span>
              <br>
              <span>Policies</span>
            </div>
          </div>
          <div class="lg:w-28 lg:h-28 w-20 h-20 bg-custom-primary rounded-full flex flex-col justify-center items-center text-white space-y-1">
            <i class="material-icons">star</i>
            <div class="lg:text-sm font-bold italic text-center text-xs">
              <span>Best Hostel</span>
              <br>
              <span>Facilities</span>
            </div>
          </div>
          <div class="lg:w-28 lg:h-28 w-20 h-20 bg-primary1 rounded-full flex flex-col justify-center items-center text-white space-y-1">
            <i class="material-icons">security</i>
            <div class="lg:text-sm font-bold italic text-center text-xs">
              <span>Security</span>
              <br>
              <span>System</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="min-h-screen bg-gradient-to-bl from-indigo-200 to-indigo-700">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,224L30,197.3C60,171,120,117,180,128C240,139,300,213,360,218.7C420,224,480,160,540,154.7C600,149,660,203,720,197.3C780,192,840,128,900,138.7C960,149,1020,235,1080,261.3C1140,288,1200,256,1260,213.3C1320,171,1380,117,1410,90.7L1440,64L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg>
  <div class="flex flex-col lg:flex-row justify-center items-start">
    <div class="lg:w-[50vw] mt-20 w-[90vw] mx-auto">
      <h1 class="lg:text-6xl font-bold text-4xl text-white lg:pl-10">
        Our Success Rate
      </h1>
      <p class="text-xl mt-5 lg:font-medium text-white text-[1rem] lg:pl-10">
        Our Academy takes pride in our exceptional success rate. Year after year, our dedicated instructors and comprehensive programs have consistently helped our students excel in the rigorous entrance exams for PAF & Cadet colleges. Our success stories speak volumes about the quality education and support we provide, ensuring that our students reach their full potential and secure admission to prestigious cadet colleges.
      </p>
      <span></span>
    </div>
    <div class="lg:w-[50vw] mt-20 lg:mt-0 w-full">
      <%= image_tag "succssrate.png", class: " w-full h-full object-contain" %>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,224L30,197.3C60,171,120,117,180,128C240,139,300,213,360,218.7C420,224,480,160,540,154.7C600,149,660,203,720,197.3C780,192,840,128,900,138.7C960,149,1020,235,1080,261.3C1140,288,1200,256,1260,213.3C1320,171,1380,117,1410,90.7L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
</section>
<section class="bg-white py-16 min-h-screen" id="whatnew">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between">
    <!-- Text Content -->
    <div class="lg:w-1/2 text-center lg:text-left lg:pr-8">
      <h2 class="text-4xl font-bold lg:text-6xl mb-6 text-custom-primary ">Coming Soon</h2>
      <p class="text-lg text-gray-600 mb-8">Exciting things are on the horizon! We are thrilled to announce the upcoming launch of our innovative school for kids. Get ready for a world of learning and fun.</p>
      <a href="#contact" class="bg-custom-primary text-white px-8 py-3 rounded-full text-lg hover:bg-indigo-600 transition duration-300 ease-in-out inline-block font-bold">Learn More</a>
    </div>
    <!-- Image Placeholder -->
    <div class="lg:w-1/2 mt-8 lg:mt-0">
      <div >
        <!-- Your Image Goes Here -->
        <%= image_tag "launch.png", class: "w-full" %>
      </div>
    </div>
  </div>
</section>
<section class="py-12 min-h-[80vh]" id="contact">
  <div class="container mx-auto text-center">
    <h2 class="lg:text-6xl text-4xl font-semibold mb-10 text-custom-primary">Keep In Touch with Us</h2>
    <div class="flex flex-col md:flex-row justify-center items-center gap-x-3 gap-y-5">
      <!-- Address -->
      <div class=" h-40 p-4 bg-slate-100 rounded-md justify-center items-center w-[90vw] md:w-auto">
        <div class="text-2xl text-indigo-700 mb-2">
          <i class="material-icons">location_on</i>
        </div>
        <p class="text-gray-700">House no.59, Street 1<br>
          Khayabane Sadiq,Phase 4<br>
          Sargodha</p>
      </div>
      <!-- Phone -->
      <div class=" h-40 p-4 bg-slate-100 rounded-md justify-center items-center w-[90vw] md:w-auto">
        <div class="text-2xl text-indigo-700 mb-2">
          <i class="material-icons">phone</i>
        </div>
        <p class="text-gray-700">Phone: +(92) 3004373031</p>
      </div>
      <!-- Email -->
      <div class="h-40 p-4 bg-slate-100 rounded-md justify-center items-center w-[90vw] md:w-auto">
        <div class="text-2xl text-indigo-700 mb-2">
          <i class="material-icons">email</i>
        </div>
        <p class="text-gray-700">Email: <br>
          thepeacedevelopers@gmail.com</p>
      </div>
    </div>
  </div>
</section>
<!-- Footer container -->
<footer
  class="bg-gradient-to-bl from-indigo-100 to-custom-primary pt-20 rounded-tl-[120px] rounded-tr-[120px] text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
  <div
    class="flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-neutral-500 lg:justify-between">
    <div class="mr-12 hidden lg:block">
      <span class="lg:text-xl font-bold">Get connected with us on social networks:</span>
    </div>
    <!-- Social network icons container -->
    <div class="flex justify-center">
      <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200 ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
        </svg>
      </a>
      <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
        </svg>
      </a>
      <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M7 11v2.4h3.97c-.16 1.029-1.2 3.02-3.97 3.02-2.39 0-4.34-1.979-4.34-4.42 0-2.44 1.95-4.42 4.34-4.42 1.36 0 2.27.58 2.79 1.08l1.9-1.83c-1.22-1.14-2.8-1.83-4.69-1.83-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.721-2.84 6.721-6.84 0-.46-.051-.81-.111-1.16h-6.61zm0 0 17 2h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2z"
            fill-rule="evenodd"
            clip-rule="evenodd" />
        </svg>
      </a>
      <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
        </svg>
      </a>
      <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
        </svg>
      </a>
      <a href="#!" class="text-neutral-600 dark:text-neutral-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
        </svg>
      </a>
    </div>
  </div>

  <!-- Main container div: holds the entire content of the footer, including four sections (Tailwind Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <!-- Tailwind Elements section -->
      <div class="">
        <h6
          class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
          IKRAMFORCESACADEMY
        </h6>
        <p>
         Empowering Minds, Shaping Futures.
        </p>
      </div>
      <!-- Products section -->
      <div class="">
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Useful Links
        </h6>
        <p class="mb-4">
          <a href="/" class="text-neutral-600 dark:text-neutral-200"
            >Home</a
          >
        </p>
        <p class="mb-4">
          <a href="#about" class="text-neutral-600 dark:text-neutral-200"
            >About us</a
          >
        </p>
        <p class="mb-4">
          <a href="#services" class="text-neutral-600 dark:text-neutral-200"
            >Services</a
          >
        </p>
        <p>
          <a href="#contact" class="text-neutral-600 dark:text-neutral-200"
            >Contact</a
          >
        </p>
      </div>
      <!-- Contact section -->
      <div>
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Contact
        </h6>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-3 h-5 w-5">
            <path
              d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
            <path
              d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
          </svg>
          House no.59,Street 1 <br> Khayabane Sadiq Phase 4 Sargodha
        </p>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-3 h-5 w-5">
            <path
              d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
            <path
              d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
          </svg>
          thepeacedevelopers@gmail.com
        </p>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-3 h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
              clip-rule="evenodd" />
          </svg>
          + 92 300 4373031
        </p>
        <p class="flex items-center justify-center md:justify-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-3 h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M7.875 1.5C6.839 1.5 6 2.34 6 3.375v2.99c-.426.053-.851.11-1.274.174-1.454.218-2.476 1.483-2.476 2.917v6.294a3 3 0 003 3h.27l-.155 1.705A1.875 1.875 0 007.232 22.5h9.536a1.875 1.875 0 001.867-2.045l-.155-1.705h.27a3 3 0 003-3V9.456c0-1.434-1.022-2.7-2.476-2.917A48.716 48.716 0 0018 6.366V3.375c0-1.036-.84-1.875-1.875-1.875h-8.25zM16.5 6.205v-2.83A.375.375 0 0016.125 3h-8.25a.375.375 0 00-.375.375v2.83a49.353 49.353 0 019 0zm-.217 8.265c.178.018.317.16.333.337l.526 5.784a.375.375 0 01-.374.409H7.232a.375.375 0 01-.374-.409l.526-5.784a.373.373 0 01.333-.337 41.741 41.741 0 018.566 0zm.967-3.97a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H18a.75.75 0 01-.75-.75V10.5zM15 9.75a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V10.5a.75.75 0 00-.75-.75H15z"
              clip-rule="evenodd" />
          </svg>
          + 92 300 4373031
        </p>
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700">
    <span>© 2023 Copyright:</span>
    <a
      class="font-semibold text-neutral-600 dark:text-neutral-400"
      href="/"
      >Ikramforcesacademy</a
    >
  </div>
</footer>