<div class="flex flex-col w-[90vw] mx-auto mt-20">
  <div class="flex lg:flex-row justify-between items-center flex-col gap-y-2">
    <h1 class="text-4xl text-center lg:text-6xl font-bold"><%= @paper.title %></h1>
    <div class="flex flex-row justify-between items-center gap-x-1">
      <% if current_user && current_user.admin? %>
        <%= link_to "Add Question", new_paper_question_path(@paper),data: {
      turbo_frame: "new-question"
    } ,class: "btn btn-ghost btn-sm bg-indigo-500 hover:bg-indigo-700 text-white mr-2 font-bold" %>
        <%= link_to "Change Access", allowpaper_path(@paper),data: {turbo_method: "put"},class: "btn btn-ghost btn-sm bg-indigo-500 hover:bg-indigo-700 text-white font-bold" %>
        <div id="access">
          <%= render "papers/access", paper: @paper %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="flex overflow-x-auto mt-10 w-[90vw] mx-auto">
  <table class="table-zebra table dark:table-compact">
    <thead>
      <tr>
        <th class="font-bold">Qno.</th>
        <th class="font-bold">Question</th>
        <th class="font-bold">Choice-1</th>
        <th class="font-bold">Choice-2</th>
        <th class="font-bold">Choice-3</th>
        <th class="font-bold">Choice-4</th>
        <th class="font-bold">Answer</th>
        <th class="font-bold">Action</th>
      </tr>
    </thead>
    <tbody id="questions">
      <% @paper.questions.each_with_index do |question, index| %>
        <% cache question do %>
          <%= render 'questions/question', question: question, index: index + 1 %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= turbo_frame_tag "new-question" do %>
<% end %>
