<div class="navbar rounded-md p-5 dark:bg-slate-800 dark:shadow-slate-950 ">
  <div class="navbar-start ">
    <%= link_to logged_in? ? papers_path : root_path do %>
      <h1 class="font-bold lg:text-3xl text-2xl italic text-indigo-500 dark:text-white">IkramForcesAcademy</h1>
    <% end %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <a href="/#about" class="nav-item hover:underline">About us</a>
    <% if logged_in? %>
      <% if current_user.admin? %>
        <%= link_to "Papers",papers_path,class: "btn btn-ghost font-bold dark:text-white dark:bg-slate-900" %>
        <%= link_to "Users",users_path,class: "btn btn-ghost font-bold dark:text-white dark:bg-slate-900" %>
      <% end %>
    <% end %>
  </div>
  <div class="navbar-end hidden lg:flex">
    <div class="dropdown-container">
      <div class="dropdown">
        <% if logged_in? %>
          <label class="cursor-pointer btn btn-ghost dark:text-white dark:bg-slate-900" tabindex="0">
            <%= current_user ? current_user.username : "" %>
          </label>
        <% end %>
        <% if !logged_in? %>
          <label class="cursor-pointer btn btn-ghost dark:text-white dark:bg-slate-900 flex" tabindex="0">
            Account
            <i class="material-icons">account_circle</i>
          </label>
        <% end %>
        <% if logged_in? %>
          <div class="dropdown-menu dropdown-menu-bottom-left">
            <%= link_to "Profile", profile_path,class: "dropdown-item font-bold" %>
            <%= link_to "Logout",logout_path,data:{turbo_method: "delete"},class: "dropdown-item font-bold text-red-500" %>
          </div>
        <% end %>
        <% if !logged_in? %>
          <div class="dropdown-menu dropdown-menu-bottom-left">
            <%= link_to "Sign In", new_session_path,class: "dropdown-item font-bold" %>
            <%= link_to "Signup",new_user_path,class: "dropdown-item font-bold " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar-end lg:hidden relative" data-controller="menu">
    <span class="text-indigo-500 cursor-pointer animate__animated animate__fadeIn dark:text-white">
      <i class="material-icons" id="menuIcon" data-action="click->menu#toggleMenu">menu</i>
    </span>
    <div class="absolute hidden top-8 right-3 bg-slate-100 text-slate-950 text-sm font-bold rounded-lg shadow dark:bg-slate-800 animate__animated animate__bounceInDown z-50" data-menu-target="mobileMenu" id="mobile-menu">
      <ul class="flex flex-col space-y-2 list-none p-5">
        <% if logged_in? %>
          <li class="py-1 px-6 rounded-md hover:bg-indigo-500 hover:text-white transition-all duration-200 hover:cursor-pointer text-sm dark:text-white whitespace-nowrap">
            <%= link_to "Profile", profile_path %>
          </li>
          <li class="py-1 px-6 rounded-md hover:bg-indigo-500 hover:text-white transition-all duration-200 hover:cursor-pointer text-sm dark:text-white whitespace-nowrap">
            <%= link_to "Papers", papers_path %>
          </li>
          <li class="py-1 px-6 rounded-md hover:bg-indigo-500 hover:text-white transition-all duration-200 hover:cursor-pointer text-sm dark:text-white whitespace-nowrap">
            <%= link_to "Logout",logout_path,data:{turbo_method: "delete"} %>
          </li>
          <% if current_user.admin? %>
            <li class="py-1 px-6 rounded-md hover:bg-indigo-500 hover:text-white transition-all duration-200 hover:cursor-pointer text-sm dark:text-white whitespace-nowrap">
              <%= link_to "Users", users_path %>
            </li>
          <% end %>
        <% end %>
        <% if !logged_in? %>
          <li class="inline-block p-2 rounded-md hover:bg-indigo-500 hover:text-white transition-all duration-200 hover:cursor-pointer text-sm dark:text-white whitespace-nowrap">
            <%= link_to "Sign In", new_session_path %>
          </li>
          <li class="inline-block p-2 rounded-md hover:bg-indigo-500 hover:text-white transition-all duration-200 hover:cursor-pointer text-sm dark:text-white whitespace-nowrap">
            <%= link_to "Sign Up", new_user_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
